body {background-color:lightblue;}

h1 {color:red; text-align, right; border-style: dashed;}

p {font-family: calibri; font-size: 16px;}

h2 {color:green; font-family: Arial; font-style: italic;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {display: block;}
li { display: inline;}

.active {
    background-color: #4CAF50;
    color: white;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}
